.feed{
    flex: 0.4;
    margin: 0 20px;
}
.feed > hr{
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 50%;
}
.feed_inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.feed_input{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}
.feed_input > form {
    display: flex;
    width: 100%;
}
.feed_input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed_input > form > button {
    display: none;
}
.feed_inputOptions{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.feed_topLine{
    display: flex;
}
.feed_avatar{
    margin-right: 5px;
}