.app_body{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    scroll-behavior: smooth;
}
.app{
    background-color: #f3f2ef;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}